.modal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    animation: fadeIn 0.3s;
}

.modal-content {
    background-color: #181818;
    margin: 5% auto;
    width: 80%;
    max-width: 900px;
    border-radius: 8px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
    animation: slideUp 0.3s;
}

.modal-body {
    display: flex;
    flex-wrap: wrap;
}

.modal-img-container {
    flex: 2;
    min-width: 300px;
    position: relative;
}

.modal-img-container img {
    width: 100%;
    display: block;
}

.modal-actions {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
}

.modal-info {
    flex: 3;
    padding: 30px;
    color: #fff;
}

.modal-meta {
    margin: 10px 0 20px 0;
    font-size: 1.1em;
    color: #a3a3a3;
}

.modal-meta span {
    margin-right: 15px;
}

.modal-genre-tag {
    border: 1px solid #a3a3a3;
    padding: 2px 6px;
    font-size: 0.8em;
}

.close-modal {
    color: #fff;
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    z-index: 100;
}

.close-modal:hover,
.close-modal:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Genre View Grid */
.grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px 4%;
}

.row-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 4%;
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes slideUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}